// This is the main SCSS file for the States of Jersey Web Standards Stylesheet
// Third-party Vendors
@import "vendors/bootstrap";
@import "vendors/govmetric";
@import "vendors/font-awesome";

// Base
@import "base/colour";
@import "base/typography";
@import "base/media";
// Components
@import "components/accessibility";
@import "components/backtotop";
@import "components/buttons";
@import "components/cookiebar";
@import "components/forms";
@import "components/headings";
@import "components/links";
@import "components/list";
@import "components/noticebar";
@import "components/rte";
@import "components/servicesAZ";
@import "components/table";
// Layout
@import "layout/breadcrumb";
@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/masthead";
@import "layout/oursites";
@import "layout/print";
@import "layout/searchbar";
@import "layout/sidebar";
// Pages
@import "pages/contacts";
@import "pages/contentPage";
@import "pages/contributionCalulator";
@import "pages/egov";
@import "pages/home";
@import "pages/jobsinjersey";
@import "pages/landingpage";
@import "pages/news";
@import "pages/search-reports-MD";
@import "pages/services";
@import "pages/microsite";
