// This is the main SCSS file for the States of Jersey Web Standards Stylesheet
// Third-party Vendors
@import "node_modules/bootstrap/scss/bootstrap";
@import "vendors/font-awesome";
@import "vendors/govmetric";

// Base
@import "base/colour";
@import "base/typography";
@import "base/media";

// Components
@import "components/accessibility";
@import "components/backtotop";
@import "components/buttons";
@import "components/cookiebar";
@import "components/promoBanner";
@import "components/forms";
@import "components/headings";
@import "components/links";
@import "components/list";
@import "components/noticebar";
//@import "components/rte";
@import "components/services-az";
@import "components/table";
@import "components/chart";
@import "components/c5-survey";

// Layout
@import "layout/breadcrumb";
@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/masthead";
@import "layout/oursites";
@import "layout/print";
@import "layout/searchbar";
@import "layout/sidebar";

// Pages
@import "pages/contacts";
@import "pages/content-page";
@import "pages/contribution-calulator";
@import "pages/department-homepage";
@import "pages/egov";
@import "pages/filtered-results";
@import "pages/home";
@import "pages/jobs-in-jersey";
@import "pages/landing-page";
@import "pages/news";
@import "pages/search-reports-md";
@import "pages/services";
@import "pages/microsite";
@import "pages/event-calendar";
@import "pages/recycling";