#dh-header {
    border-left: 3px solid $department;
    padding-left: 20px;
    margin-bottom:0;
    h1 {
        margin-bottom:0;       
        padding-bottom:10px;     
    }
}

#dh-headerParagraph {
    border-left: 3px solid $department;
    padding-left: 20px;
}

.dh-Content {
    font-size: em(18px, 14px);
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
    #departmentBanner {
        display: block;
        margin-bottom: 30px;
        margin-top:20px;
    }
    a {
        color: $department;
        &:hover {
            color: $Black;
        }
    }
    .dh-news {
        margin-bottom: 10px;
        p {
            margin-top: 5px;
            margin-bottom: 0;
        }
        a {
            font-weight: 700;
            display: block;
        }
        .dh-date {
            margin-top: 10px;
            font-size: 14px;
            display: block;
        }
        @media (min-width:$screen-tablet) and (max-width: $screen-desktop) {
            .dh-date {
                margin-top: 0;
            }
            a,
            span,
            p {
                padding-left: 20px;
            }
        }
    }
    article#dh-content {
        margin-bottom: 20px;        
    }
    #departmentPages {
        margin-bottom: 20px;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: block;
        }
    }
    #departmentDocuments {
        margin-bottom: 20px;        
        h1 {
            font-size: em(20px);
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: block;
        }
        .readmore {
            display: block;
            margin: 20px 0;
        }
    }
    #dh-foirequest {
        h1 {
            font-size: em(20px);
        }
        margin-bottom:20px;
    }
    #dh-ministers {
        margin-bottom:20px;
        h1 {
            font-size: em(20px);
        }
        h2 {
            font-size: em(15px);
            margin: 0;
        }
        p {
            margin-top: 0;
        }
        @media (min-width:$screen-tablet) and (max-width: $screen-desktop) {
            img {
                margin-bottom: 20px;
            }
        }
    }
    #dh-externallinks {        
        background-color: $Lightest-grey;
        padding: 20px 20px 40px 20px;
        margin-bottom:20px;
        h1 {
            font-size: em(20px);
        }
        ul {
            list-style-type: none;
            padding-left:0;
        }
    }
}



.dh-panel-heading {
    background-color: $department !important;
    &:hover {
        background-color: $department !important;
    }
    a {
        &:hover {
            color: $White !important;
        }
    }
}
.dh-Sidebar {
    i {
        font-size: 28px;
        padding-right: 10px;
        color: $Black !important;        
    }
    .firstbutton {
        padding-left:0px !important;
    }
    a {
        color: $department !important;
    }
    h1 {
        color: $department !important;
    }
    h1.black {
        color: $Black !important;
    }
    .contactTitle {
        font-weight: 700;
        margin-top: 0;
    }
    .contactOpening {
        margin: 0 !important;
    }
    #dh-newsevents {
        float: left;
        background-color: $Lightest-grey;
        border: 0 solid $Mid-grey;
        padding: 10px 20px 10px;
        margin-top: 10px;
        padding-top: 10px;
        @media (min-width: $screen-tablet) {
            margin-bottom: 10px;
        }
        @media (max-width:$screen-phone) {
            background-color: $White;
        }        
        h2 {
            font-family: proxima-nova, sans-serif;
            font-weight: 700;
            font-size: 19px;
            padding: 0;
            margin: 0;
            a {
                &:hover {
                    color: $Charcoal;
                }
            }
        }
        hr {
            border: none;
            height: 1px;
            color: $Charcoal;
            background-color: $Charcoal;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            color: $Charcoal;
            text-decoration: none !important;
        }
        #newsHomepage {
            div {
                padding-bottom: 10px;
            }
            span {
                display: block;
                font-size: 0.8em;
            }
        }
        #Consult {
            div {
                padding-bottom: 10px;
            }
            .consultnews {
                .articleLink {
                    min-height: 100px;
                    display: block;
                    span {
                        padding-top: 10px;
                    }
                }
            }
            img {
                margin: 10px 0 10px 0;
                width: 100%;
                @media (max-width: $screen-desktop) {
                    float: left;
                    margin: 10px 10px 10px 0;
                    max-width: 150px;
                    width: 100%;
                }
            }
            span {
                display: block;
                line-height: 22px;
                font-size: 18px;
                font-family: proxima-nova, sans-serif;
                font-weight: 700;
                color: $department;
                text-decoration: none;
            }
            h3 {
                line-height: 22px;
                font-size: 18px;
                font-family: proxima-nova, sans-serif;
                font-weight: 700;
                text-decoration: none;
                margin: 0;
                padding: 0;
                &:hover {
                    color: $Charcoal;
                    text-decoration: underline;
                }
            }
        }
    }
}