/* =================
    e-Gov 
   ================= */

.projectCount {
    text-align: center;
}

.projectCount.blue {
    color: $Stats-mixed-blue;
}

.projectCount.blue h3 {
    background-color: $Stats-mixed-blue;
}

.projectCount.orange {
    color: $Stats-mixed-orange;
}

.projectCount.orange h3 {
    background-color: $Stats-mixed-orange;
}

.projectCount.green {
    color: $Stats-mixed-Green;
}

.projectCount.green h3 {
    background-color: $Stats-mixed-Green;
}

article.pagecontent .projectCount h3 {
    font-size: 2em;
    margin-bottom: 0;
    color: $White;
    padding: 5px 0
}

article.pagecontent .projectCount strong {
    font-size: 5em;
    font-weight: 100;
}

.projectLinks ul {
    list-style-type: none;
    margin: 5px;
    li {
        padding: 25px 0;
        width: 100%;
        float: left;
        border-top: 1px solid $Mid-grey;
    }
}

.projectLinks .left {
    float: left;
}

.projectLinks .project {
    clear: both;
    width: 100%;
}

.projectLinks .projectTitle h2 a {
    color: $Red;
    font-size: 1.0em;
    cursor: pointer;
}

.projectLinks .projectBenefit p strong {
    font-size: 1.2em;
}

.projectLinks .projectStatus {
    //min-width: 25%;
    border-left: 1px solid $Mid-grey;
}

.projectLinks .project .projectStatus p strong {
    text-align: center;
    padding: 3px;
}

.projectLinks .project .projectStatus p strong.green {
    background-color: $Stats-mixed-Green;
    color: white;
}

.projectLinks .project .projectStatus p strong.orange {
    background-color: $Stats-mixed-orange;
    color: white;
}

.projectLinks .project .projectStatus p strong.blue {
    background-color: $Stats-mixed-blue;
    color: white;
}

article.pagecontent .projectLinks ul {
    margin: 0;
    padding: 0;
}

#projectTopPnl {
    float: left;
    clear: both;
    border-bottom: solid 2px $Lightest-grey;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    #projectLink {
        float: left;
        h2 {
            a {
                color: $Red
            }
        }
    }
    #projectDate {
        float: right;
        @media (max-width: $screen-phone) {
            float: left;
        }
    }
}

#projectDept {
    border-left: solid 1px $Dark-grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

aside #projectstatusPnl {
    color: $White;
    h1 {
        color: $White;
        // display: inline;
        float: left;
        margin-right: 20px;
    }
    &.sidePanel {
        .statuslbl {
            float: left;
            border: 1px solid $White;
            padding: 0 5px;
            font-size: 1.5em;
            margin-top: 5px;
        }
        &.live {
            background-color: $Stats-mixed-Green;
        }
        &.initiation {
            background-color: $Stats-mixed-blue;
        }
        &.development {
            background-color: $Stats-mixed-orange
        }
    }
    #ProjectSummary {
        float: left;
        clear: both;
    }
}

#PorjectStatusDetail {
    border-left: solid 1px $Dark-grey;
    margin-top: 10px;
    .summary {
        padding-left: 15px;
    }
    .lbl {
        padding: 5px 10px 0;
        margin-top: 10px;
        color: $White;
        display: inline-block;
        &:first-child {
            margin-top: 0;
        }
        &.orange {
            background-color: $Stats-mixed-orange;
        }
        &.blue {
            background-color: $Stats-mixed-blue;
        }
        &.green {
            background-color: $Stats-mixed-Green;
        }
    }
}