.calendar * {
  box-sizing: border-box; }
.calendar button{
	min-width:0;
	border:0;
}
.calendar-sm {
  cursor: default;
  width: 800px;
  height: 370px; }

.calendar {
  cursor: default;
  width: 100%;
  height: 270px;
  font-size: 1.1em; }

.calendar-sm .c-pad-top {
  padding-top: 2%; }

.calendar .c-pad-top {
  padding-top: 3%; 
}
.calendar button[disabled]
{
  background-color: $Lightest-grey;
  }
.c-grid {
  height: inherit;
  background-color: $Lightest-grey; }

button.c-day {
  width: 14.28%;
  height: 13%;
  background-color: $Lightest-grey;
  float: left;
  text-align: center;
  color: $Stats-grey-light;
  pointer-events: none;
  cursor: default; }

button.c-day-previous-month[disabled] {
  width: 14.28%;
  height: 13%;
  background-color: $Lightest-grey;
  float: left;
  text-align: center;
  color: $Lightest-grey; }

button.c-day-next-month[disabled] {
  width: 14.28%;
  height: 13%;
  background-color: $Lightest-grey;
  float: left;
  text-align: center;
  color: $Lightest-grey; }

.c-week-day {
  width: 14.28%;
  height: 2.5em;
  line-height: 1.2em;
  background-color: $Stats-grey-darker;
  color: $White;
  float: left;
  text-align: center;
  font-weight: bold;
  padding-top: 1%; }

button.c-next {
  width: 12.5%;
  height: 12%;
  padding: 2% 2% 0 2%;
  text-align: right;
  cursor: pointer; }

button.c-previous {
  width: 12.5%;
  height: 12%;
  padding: 2% 2% 0 2%;
  text-align: left;
  cursor: pointer; }

.c-month {
  width: 75%;
  height: 12%;
  text-align: center; }

button.c-today {
  background-color: $Lightest-grey;
  color: $Red; }

button.c-event {
  color: $Charcoal;
  font-weight: bold;
  cursor: pointer;
  pointer-events: auto; }

.c-grid {
  float: none;
  width: 100%; }

.c-event-grid {
  display: none; }

.calendar .c-grid-title {
  font-weight: normal;
  background-color: $Stats-grey-darker;
  color: $White;
  float: left;
  border-bottom: 1px solid $White;
  height: 3.5em;
  line-height: 3.5em;
  padding-top: 0;
  font-size: 1.2em; }

.c-event-title {
  width: 100%;
  height: 12%;
  text-align: center;
  font-weight: bold;
  background-color: $Stats-grey-darker;
  color: $White; }

.calendar .c-grid-title.c-nav-btn-over {
  background-color: $Red;
  font-weight: bold; }

.c-event-list {
  padding: 7 0 0 0;
  overflow: auto;
  height: 95%; }

.c-event-item > .title {
  font-weight: bold;
  width: 100%;
  display: block;
  color: $Red;
  font-size: 22px;
  margin: 5px 0 10px; }

.c-event-item > .description {
  width: 100%;
  display: block;
  margin-top: 10px; }

.c-event-item {
  margin-bottom: 10px;
  border-top: 1px solid $Stats-grey-light;
  padding: 1em 0; }

button.c-event-over {
  color: $Red; 
 }

.c-event-over > .description {
  font-weight: normal; }

.featureEvent {
  background-color: $Lightest-grey;
  padding: 1.5em; }

.featureEvent .strong, .c-event-item .strong {
  font-weight: bold; }

article.pagecontent .featureEvent h2#FeatureTitle {
  color: $Red;
  margin-bottom: 1em; }

article.pagecontent .featureEvent h2, article.pagecontent .ms-rtestate-field .featureEvent h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700; }

article.pagecontent .featureEvent dl {
  margin-bottom: 0; }

article.pagecontent .featureEvent dd {
  border: 0;
  width: 95%;
  margin: 0 0 10px;
  padding: 0; }

@media (max-width: 992px) {
  .c-week-day, .c-day {
    height: 4em; } }