section.homepage-accordion {
    margin-bottom: 20px;
    .card-group {
        flex-direction: column;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        & > .card {
            margin-bottom: 5px;
        }
    }
    .card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-style: none;
        border-radius: 0 !important;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    .card-header {
        background-color: $Red;
        color: $White;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px 0;
        h1 {
            line-height: 1.5em;
            padding-left: 10px;
            margin-bottom: 0;
            font-size: 1.42857em;
            a {
                display: block;
                text-decoration: none;
                font-weight: 700;
                width: 100%;
                font-size: 20px;
                &:hover {
                    text-decoration: underline;
                }
                &:after {
                    content: "\f055";
                    font-family: FontAwesome;
                    font-size: 18px;
                    position: absolute;
                    right: 30px;
                    display: inline-block;
                    text-decoration: none;
                }
            }
            a.collapsed {
                &:after {
                    content: "\f055";
                    font-family: FontAwesome;
                    font-size: 18px;
                    position: absolute;
                    right: 30px;
                    display: inline-block;
                    text-decoration: none;
                }
            }
            a:after {
                content: "\f056";
                font-family: FontAwesome;
                font-size: 18px;
                position: absolute;
                right: 30px;
                display: inline-block;
                text-decoration: none;
            }
        }
        h2 {
            line-height: 1.5em;
            padding-left: 10px;
            margin-bottom: 0px;
            a {
                display: block;
                text-decoration: none;
                font-weight: 700;
                width: 100%;
                font-size: 20px;
                &:hover {
                    text-decoration: underline;
                }
                &:after {
                    content: "\f055";
                    font-family: FontAwesome;
                    font-size: 18px;
                    position: absolute;
                    right: 30px;
                    display: inline-block;
                    text-decoration: none;
                }
            }
            a.collapsed {
                &:after {
                    content: "\f055";
                    font-family: FontAwesome;
                    font-size: 18px;
                    position: absolute;
                    right: 30px;
                    display: inline-block;
                    text-decoration: none;
                }
            }
            a:after {
                content: "\f056";
                font-family: FontAwesome;
                font-size: 18px;
                position: absolute;
                right: 30px;
                display: inline-block;
                text-decoration: none;
            }
        }
        a {
            text-decoration: none;
            color: $White;
            &:hover {
                color: $Focus-blue-dark;
            }
            &:visited {
                color: $Focus-blue-dark;
            }
        }
    }
    .card-body {
        h3 {
            margin-bottom: 0;
            a {
                color: $Red;
                font-weight: 600;
                &:hover {
                    color: $Charcoal !important;
                }
                &:visited {
                    color: $Red;
                }
            }
        }
    }
    .card-collapse {
        background-color: $Lightest-grey;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            border-bottom: solid 1px #cccccc;
            padding: 10px 0;
        }
        li.first {
            padding-top: 0;
        }
        li.last {
            border-bottom: dotted 0 $Charcoal;
        }
        li a {
            color: $Charcoal;
            text-decoration: underline;
            font-family: proxima-nova, sans-serif;
            font-weight: 400;
            font-size: 20px;
            &:hover {
                color: $Red;
            }
        }
    }
}
.promotedItems {
    margin-top: 15px;
    margin-bottom: 0px;
    a{
        &.articleLink{
            text-decoration: none;
            img {
                margin: 10px 0;
                width: 100%;
            }
            h2{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    &.d-none.d-md-flex {
        a {
            &:hover {
                text-decoration: none;
            }
        }
        h2 {
            font-weight: 600;
        }
    }
}
a {
    &.articleLink{
        &:hover{
            h2 {
                color: #b60011;
            }
        }
    }
}
section.homepage-tabs {
    .tab-pane{
        &#tab1 {
            padding-bottom: 1.75em
        }
        &#tab2 {
            padding-bottom: 1.75em
        }
        &#tab3 {
            padding-bottom: 1.75em
        }
        &#tab4 {
            padding-bottom: 1.75em
        }
    }
    .nav-tabs {
        border-bottom: 3px solid $Red;
    }
    .nav-tabs>li {
        float: left;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    .nav-tabs>li>a {
        margin-right: 0;
        line-height: 1.428571429;
        color: #1d1d1b;
        background: #fff;
        border-top: solid 1px $Mid-grey;
        border-left: solid 1px $Mid-grey;
        border-right: solid 1px $Mid-grey;
        border-bottom: none;
        padding: 15px 0;
        border-radius: 5px 5px 0 0;
        text-align: center;
        width: 130px;
        font-size: em(20px, 14px);
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-decoration: none;
        &.active{
            color: #fff!important;
            cursor: default;
            background-color: #b60011;
            background: #b60011 !important;
            border-top: none 1px #7d7d7d;
            border-left: none 1px #7d7d7d;
            border-right: none 1px #7d7d7d;
            border-bottom: solid 1px #b60011;
            &:focus{
            color: #fff!important;
            cursor: default;
            background-color: #b60011;
            background: #b60011 !important;
            border-top: none 1px #7d7d7d;
            border-left: none 1px #7d7d7d;
            border-right: none 1px #7d7d7d;
            border-bottom: solid 1px #b60011;
            }
            &:hover{
            color: #fff!important;
            cursor: default;
            background-color: #b60011;
            background: #b60011 !important;
            border-top: none 1px #7d7d7d;
            border-left: none 1px #7d7d7d;
            border-right: none 1px #7d7d7d;
            border-bottom: solid 1px #b60011;
            }
        }
    }
    .nav-tabs>li:first-child>a {
        width: 140px;
    }
    @media (max-width:1240px) {
        .nav-tabs {
            li {
                margin-right: 7px;
                a {
                    width: 110px;
                }
            }
            li:first-child a {
                width: 140px;
            }
        }
    }
    .nav-tabs>li>a:hover {
        border-color: $Mid-grey $Mid-grey $Mid-grey;
    }
    .nav-tabs>li>a:focus {
        color: $Charcoal !important;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        color: #fff !important;
        cursor: default;
        background-color: $Red;
        border-top: none 1px $Mid-grey;
        border-left: none 1px $Mid-grey;
        border-right: none 1px $Mid-grey;
        border-bottom: solid 1px $Red;
    }
    .nav-tabs.nav-justified {
        width: 100%;
        border-bottom: 0;
    }
    .nav-tabs.nav-justified>li {
        float: none;
    }
    .nav-tabs.nav-justified>li>a {
        text-align: center;
    }
    @media (min-width: 768px) {
        .nav-tabs.nav-justified>li {
            display: table-cell;
            width: 1%;
        }
    }
    .nav-tabs.nav-justified>li>a {
        margin-right: 0;
        border-bottom: 1px solid #dddddd;
    }
    .nav-tabs.nav-justified>.active>a {
        border-bottom-color: $White;
    }
    .tab-content {
        padding: 20px 10px 10px 10px;
        margin-bottom: -20px;
        border: 0;
        ul {
            list-style-type: none;
            padding-left: 20px;
        }
        li {
            padding: 18px 0;
        }
        li:last-child {
            padding-bottom: 0;
        }
        a {
            color: $Charcoal;
            text-decoration: underline;
            font-size: em(19px, 14px);
            font-family: proxima-nova, sans-serif;
            font-weight: 600;
            &:hover {
                color: $Red;
            }
        }
        h3 {
            a {
                color: $Red;
            }
        }
    }
    #Browse {
        width: 100%;
        h2 {
            font-size: 30px;
            margin: 10px 0 15px 0;
        }
        a {
            color: $Charcoal;
            text-decoration: none;
            font-family: proxima-nova, sans-serif;
            font-size: em(16px, 14px);
            &:hover{
                text-decoration: underline;
            }
        }
        ul {
            margin: 0;
            padding: 0 0 20px 0;
            list-style-type: none;
        }
        li {
            padding: 7px 0 0;
            a {
                &:hover {
                    color: $Red;
                }
            }
        }
        h3 {
            padding: 0;
            padding-bottom: 3px;
            margin: 0;
        }
        h3 a {
            font-family: proxima-nova, sans-serif;
            font-weight: 600;
            font-size: 0.95em;
            color: $Red;
            text-decoration: underline;
            &:hover {
                color: $Charcoal;
            }
        }
        .row {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}

aside#HomepageSidebar {
    background-color: $Lightest-grey;
    border: 0 solid $Mid-grey;
    padding: 10px 20px 10px 0px;
    margin-top: 20px;
    margin-right: 1px;
    padding-top: 10px;
    @media (max-width:$screen-tablet) {
        margin-top:0px;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    @media (max-width:$screen-phone) {
        background-color: $White;
    }
    .toparticle {
        display: block;
        clear: both;
        min-height:100px;
        padding-bottom: 10px;
        h2 {
            line-height: 22px;
            font-size: 18px;
            font-family: proxima-nova, sans-serif;
            font-weight: 700;
            text-decoration: none;
            color: $Charcoal;
            margin: 0 0 10px 0;
            padding:0 0 0 160px;
            &:hover {
                color: $Charcoal !important;
                text-decoration: underline;
            }
        }
        p.readMore{
            padding:0 0 0 160px
        }
        img {
            display: block;
            margin-right: 10px;
        }
    }
    h2 {
        padding: 0 0 0 0;
        margin: 0;
        a {
            font-family: proxima-nova, sans-serif;
            font-weight: 600;
            font-size: 19px;
            color: $Red;
            &:hover {
                color: $Charcoal;
            }
        }
    }
    hr {
        border: none;
        height: 1px;
        color: $Charcoal;
        background-color: $Charcoal;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        color: $Charcoal;
        text-decoration: none !important;
    }
    p.readMore {
        color: $Red;
        text-decoration: underline !important;
        margin: 0;
        &:hover {
            color: $Charcoal;
        }
    }
    a.articleLink {
        text-decoration: none;
        h3 {
            margin: 5px 0 20px;
        }
    }
    #newsHomepage {
        @media (min-width: $screen-tablet) {
            border: none;
            border-right: 1px solid black
        }
        div {
            padding-bottom: 10px;
            @media (min-width: $screen-tablet) {
                padding-bottom: 0;
            }
            &.row {
                div.col-12 {
                    padding-top: 20px;
                }
            }
        }
        h3 {
            line-height: 22px;
            font-size: 18px;
            font-family: proxima-nova, sans-serif;
            font-weight: 600;
            text-decoration: none;
            color: $Charcoal;
            margin: 0;
            padding: 0;
            &:hover {
                color: $Red;
                text-decoration: underline;
            }
        }
        span:hover {
            text-decoration: none;
            color: $Charcoal;
        }
        hr {
            margin-top: 20px;
        }
    }
    #Consult {
        div {
            padding-bottom: 10px;
        }
        .consultnews {
            .articleLink {
                min-height: 0px;
                display: block;
                span {
                    padding-top: 10px;
                    text-decoration: underline;
                    font-weight: 100;
                }
            }
            h2 {
                padding-bottom: 20px;
            }
        }
        img {
            margin: 10px 0 10px 0;
            width: 100%;
            @media (max-width: $screen-desktop) {
                float: left;
                margin: 10px 10px 10px 0;
                max-width: 150px;
                width: 100%;
            }
        }
        span {
            display: block;
            line-height: 22px;
            font-size: 18px;
            font-family: proxima-nova, sans-serif;
            font-weight: 700;
            color: $Red;
            text-decoration: none;
        }
        h3 {
            line-height: 22px;
            font-size: 1.3rem;
            font-family: proxima-nova, sans-serif;
            font-weight: 600;
            text-decoration: none;
            color: $Charcoal;
            margin: 0;
            padding: 0;
            &:hover {
                color: $Charcoal;
                text-decoration: underline;
            }
        }
        h3.event:hover {
            color: $Red;
            text-decoration: underline;
        }
        a {
            &.articleLink {
                h3 {
                    &.event {
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
    section {
        margin: 5px 0;
    }
}
.SidebarSmall {
    @media (max-width: $screen-tablet) {
        background-color: $Lightest-grey;
        margin-bottom: 2rem;
    }
}
#noborder {
    border-right: 0px;
}
@media (min-width: 576px) {
    _:-ms-fullscreen, :root .card-group {
         display:block; 
    }
}
.container.newsContainer {
    padding: 20px 0 0 0;
}