#jobSidebar {
    font-family: proxima-nova, sans-serif;
    label.searchtext {
        margin: 10px 0 10px 0;
        font-size: 22px;
        color: $GovJeRed;
        text-decoration: none;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
    }
    .highlight {
        font-weight: 600;
    }
    .cryteriaitem {
        padding-bottom: 10px;
    }
    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 5px;
    }
    #sideJobType,
    #sideResidency {
        font-size: 16px;
    }
    #sideJobType legend,
    #sideResidency legend,
    label {
        margin-bottom: 0;
        font-size: 16px;
        font-family: proxima-nova, sans-serif;
        font-weight: 400;
    }
    #sideJobType td,
    #sideResidency td {
        padding: 0;
    }
    #sideJobType td,
    #sideJobType legend,
    #sideResidency td,
    #sideResidency legend {
        border: none;
        font-weight: 600;
    }
    #sideJobType table {
        display: block;
        margin-bottom: 5px;
    }
    #sideJobType .scrollable .fixed-column {
        display: none;
    }
    #sideJobType tr,
    #sideJobType td {
        width: auto;
        // display: inline;
    }
    #sideJobType td {
        margin-right: 15px;
    }
    #sidePostDate select {
        height: 36px;
        font-size: 18px;
        font-family: proxima-nova, sans-serif;
        width: 190px;
        margin-bottom: 10px;
    }
    input[type="submit"] {
        // display: inline;
        background-color: $GovJeRed;
        color: $GovJEWhite;
        border-bottom: 3px solid $buttonBase;
        border-radius: 0;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        font-size: 18px;
        line-height: 29px;
        height: 38px;
        padding: 0 15px;
        margin-top: 5px;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
        &:hover {
            border-bottom: 0 solid $buttonBase;
        }
    }
    input[type="text"] {
        padding-left: 5px;
    }
}

#jobsinjersey {
    .categoryitem {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 18px;
        @media (max-width: $screen-phone) {
            font-size: 16px;
        }
        li {
            list-style-type: none;
            padding: 10px 0 10px 0;
        }
    }
    .nopad {
        padding-left: 0;
    }
    legend {
        margin-bottom: 5px;
    }
    .details {
        h1 {
            font-size: 60px;
            text-transform: uppercase;
            font-family: proxima-nova, sans-serif;
            font-weight: 700;
        }
        li {
            list-style-type: none;
        }
        ul {
            padding: 0;
            margin: 0;
        }
        dl {
            width: 80%;
            @media (max-width: $screen-phone) {
                width: 100%;
            }
            clear: both;
        }
        dt {
            float: left;
            color: $text-color;
            border-top: solid 1px $keyline;
            display: table-cell;
            width: 40%;
            clear: both;
            padding: 10px 0 10px 0;
            font-family: proxima-nova, sans-serif;
            font-weight: 700;
        }
        dt:last-of-type {
            padding-bottom: 25px;
        }
        dt:first-of-type {
            border-top-style: none;
        }
        dd {
            float: left;
            color: $text-color;
            border-top: solid 1px $keyline;
            display: table-cell;
            width: 60%;
            padding: 10px 0 10px 0;
        }
        dd.email {
            -ms-word-break: break-all;
            word-break: break-all;
        }
        dd:last-child {
            padding-bottom: 25px;
        }
        dd:first-of-type {
            border-top-style: none;
        }
        div {
            display: block;
            float: left;
            padding-bottom: 25px;
        }
    }
    .jobSearchDT {
        font-family: proxima-nova, sans-serif;
        label.searchtext {
            margin: 10px 0 10px 0;
            font-size: 26px;
            text-decoration: none;
            font-family: proxima-nova, sans-serif;
            font-weight: 700;
        }
        .keyline {
            background-color: $GovJEWhite;
            border: 1px solid $keyline;
            @media (max-width: $screen-phone) {
                /*border-style: none;*/
                padding-left: 5px;
            }
        }
        input[type="text"] {
            border-radius: 0;
            padding-left: 5px;
            width: 60%;
            margin-bottom: 15px;
            font-size: 18px;
            height: 36px;
            @media (max-width: $screen-phone) {
                width: 100%;
            }
        }
        #jobType {
            width: 140px;
            float: left;
        }
        #jobType td,
        #jobType legend,
        #yourResidency td,
        #yourResidency legend {
            border: none;
        }
        h3 {
            margin: 10px 0 10px 0;
            @media (max-width: $screen-phone) {
                display: none;
            }
        }
        #yourResidency {
            float: left;
        }
        #jobType legend,
        #yourResidency legend {
            margin-bottom: 0;
            font-size: 18px;
            font-family: proxima-nova, sans-serif;
            font-weight: 600;
        }
        #jobType td,
        #yourResidency td {
            padding: 0;
        }
        #postedDate {
            clear: both;
            width: 50%;
            // display: inline;
            float: left;
        }
        #postedDate select {
            height: 36px;
            font-size: 18px;
            float: left;
            // display: inline;
            font-family: proxima-nova, sans-serif;
            font-weight: 600;
            width: 190px;
        }
        input[type="submit"] {
            // display: inline;
            background-color: $GovJeRed;
            color: $GovJEWhite;
            border-bottom: 3px solid $buttonBase;
            border-radius: 0;
            font-size: 18px;
            line-height: 29px;
            padding: 0 15px;
            font-family: proxima-nova, sans-serif;
            font-weight: 600;
            border-left-style: none;
            border-right-style: none;
            border-top-style: none;
            height: 38px;
            &:hover {
                border-bottom: 0 solid $buttonBase;
            }
        }
        input[type="radio"],
        input[type="checkbox"] {
            margin-right: 5px;
        }
        table thead th {
            border-style: none !important;
        }
        table tbody td {
            border-style: none !important;
        }
        table tbody th {
            border-style: none !important;
        }
        legend {
            border-bottom-style: none;
            padding-bottom: 0;
        }
        .right {
            float: right !important;
            @media (max-width: $screen-tablet) {
                float: none !important;
            }
        }
    }
    .results {
        padding: 0;
        margin-left: 0;
        li {
            list-style: none;
            /*margin-bottom: 20px;*/
            float: left;
            clear: left;
            width: 100%;
            h2 {
                margin: 10px 0 10px 0;
            }
            .title a,
            a .title {
                font-size: 18px;
                color: $GovJeRed;
                text-decoration: underline;
                font-weight: 700;
                &:hover {
                    color: $text-color;
                }
            }
            dt {
                float: left;
                clear: both;
                color: $text-color;
                margin-right: 20px;
                border-top-style: none;
                padding-top: 0;
                padding-bottom: 5px;
            }
            dt.jobs {
                width: 100px;
            }
            dd {
                float: left;
                color: $text-color;
                border-top-style: none;
                padding-top: 0;
                padding-bottom: 5px;
            }
        }
    }
}