.ms-mastheadImage {
    max-height: 320px;
    width: 100%;
    overflow: hidden;
    @media (max-width: $screen-phone) {
        display:none;
    }
}

.ms-mastheadImageSM {
    display: none;
    @media (max-width: $screen-phone) {
        max-height: 320px;
        width: 100%;
        overflow: hidden;
        display: block;
    }
}

#vcmlanding 
{
    img{
        width:100%;
    }
    .row{
        margin-bottom: 1.5em;
    }
    
}


.row.vcm .ms-asset-icon {
    margin-right: 5px;
  }


nav#ms-subnav {
    display: block;
    background-color: $foster;
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px;
    ul.navitem {
        padding: 0;
        margin: 0;
        min-height: 60px;
        display: table;
        width: 100%;
        border-left: 1px solid #0197B7;
        border-right: 1px solid #0197B7;
        width: 100%;
        li {
            display: table-cell;
            border-left: 1px solid #0197B7;
            &:first-child {
                border-left: 0px solid #0197B7;
            }
        }
        a {
            font-size: em(16px, 14px);
            display: block;
            padding-top: 10px;
            min-height: 60px;
            text-align: center;
            color: $White;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &:hover {
                background-color: $fosterHighlight;
            }
        }
    }
    @media (max-width:767px) {
        display: none;
    }
}

#ms-footercontent {
    background-color: $Lightest-grey;
    width: 100%;
    min-height: 250px;
    margin-top: 20px;
    padding-bottom: 20px;
    ol {
        padding-left: 18px;
    }
}

aside#sideBar.ms-SideBar {
    h1 {
        color: $foster;
    }
    .contactTitle {
        font-weight: bold;
    }
    i {
        font-size: 28px;
        padding-right: 10px;
        &:hover {
            color: $Red;
        }
    }
}

.ms-Content {
    font-size: em(18px, 14px);
    span {
        display: block;
    }
    a {
        color: $foster;
        &:hover {
            color: $Black;
        }
    }
    p {
        font-size: em(18px, 18px);
    }
    img {
        max-width: 100%;
    }
    h2 {
        color: $foster;
        margin: 30px 0 10px 0;
        font-size: 28px;
        text-decoration: none;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
        @media (max-width: $screen-tablet) {
            font-size: 22px;
            margin-bottom: 0;
        }
        @media (max-width:$screen-phone) {
            font-size: 22px;
            margin-bottom: 0;
        }
    }
    h3 {
        font-size: em(20px, 18px);
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
    }
    hr {
        margin: 30px 0 20px 0;
    }
    ul {
        list-style-type: disc;
    }
    ul,
    ol {
        margin-left: 0;
        padding-left: 3em;
        @media (max-width: $screen-phone) {
            padding-left:2em;
        }
        ul,
        ol {
            margin-left: 0;
            padding-left: 1.5em;
            @media (max-width: $screen-phone) {
                margin-left: 20px;
                padding-left: 0;
            }
        }
    }
    table thead th {
        padding: 5px;
        background: $foster;
        color: $White;
        font-weight: bold;
        text-align: left;
        border: solid 1px #E0E0E0;
    }
    table thead th {
        padding: 5px;
        background-color: $Lightest-grey;
        color: $Charcoal;
        font-weight: bold;
        text-align: left;
        border: solid 1px #E0E0E0;
    }
    table tbody th {
        border: solid 1px #E0E0E0;
        background-color: $foster;
        color: $White;
        vertical-align: top;
        padding: 5px;
        text-align: left;
    }
}

.ms-contentmargin {
    margin-bottom: 35px;
}

.ms-date {
    font-size: 14px;
}

#ms-sitelogo {
    width: 300px;
    margin-bottom: 15px;
    img {

        height: 78px;
    }
    @media (max-width: $screen-phone) {
        text-align: center;
        width: 100%;
        img {
            height: auto;
        }
    }
}

.ms-panel-heading {
    background-color: $foster !important;
    &:hover {
        background-color: $fosterHighlight !important;
    }
    a {
        &:hover {
            color: $White !important;
        }
    }
}
.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.js-video.widescreen {
    padding-bottom: 47.8%;
}

.js-video.vimeo {
    padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $Black;
}


.vcm {
    .ms-mastheadImage
    {
        margin-bottom:20px;
        max-height:none;
    }
    #ms-sitelogo {
        display: table;
        width: auto;
         a{ 
             display:table-cell;
             max-width: 300px;
             margin-bottom: 15px;
            
             img {
                
                 height: 78px;
             }
         }
         h1{
             display:table-cell;
             vertical-align: middle;
             padding-left: 20px;
         }
         @media (max-width: $screen-phone) {
             text-align: left;
             display: block;
             width: 100%;
             a,h1{
                 width: 100%;
                 display: block;
                 padding-left: 0;
             }
             img {
                 height: auto;
             }
         }
     }
    nav#ms-subnav
    { 
        background-color: transparent;
        margin-bottom: 0;
        ul.navitem, nav#ms-subnav,.mobileMenu {
        height:60px;
    }
    ul.vcm-menu li a,.mobileMenu a{
        text-align:left;
        cursor:pointer;
    }
    ul.navitem.vcm-menu >li {
        height:60px;
        border-color:rgba(255,255,255,0.15);
        border-left-width:1px;
        float:left;
        display:table;
    }
    ul.navitem {
        border-color:rgba(255,255,255,0.15);
    }

    ul.vcm-menu > li > a
    {
    text-align:left;
    padding-left:20px;
    padding-right:20px;
    padding-top:0;
    min-height:60px;
    display:table-cell;
    vertical-align:middle;
        &.focus
        {
            background-color: $Focus-blue-light;
        }
    }
    ul.vcm-menu > li.hasChild > a
    {
        padding-right:40px;
    }
    ul.vcm-menu > li > a:hover,ul.vcm-menu > li.hover > a,ul.vcm-menu > li:hover > a
    {
        text-decoration: none;
    }
    ul.vcm-menu li.hasChild 
    {
        position:relative;
    }
    ul.vcm-menu li.hasChild > a.moreSection
    {
        position:absolute;
        width:35px;
        height:38px;
        top:0;
        right:5px;
        display:block;
        padding:0 10px;
    }
    ul.vcm-menu li.hasChild > a.moreSection:after {
        display:inline;
        position: absolute;
        font-family: "FontAwesome";
        content: "\f054";
        right: 5px;
        top:20px;
        width:15px;
        height:38px;
        text-align:right;
    }
    ul.vcm-menu > li.hasChild.focus > a.moreSection:after ,ul.vcm-menu > li.hasChild.hover > a.moreSection:after 
    {
        content: "\f078";
    }
    ul.vcm-menu li.hasChild:hover a.moreSection:after {
        text-decoration:none;
    }
    ul.vcm-menu li ul {
        background-color:#EEF0F0;
        width: 320px;
        z-index: 1;
        display:none;
        top:60px;
        position:absolute;
        left:-1px;
        padding:0;
    }
    ul.vcm-menu li ul ul,ul.vcm-menu li.focus ul ul {
    display:none;
            }
    ul.vcm-menu li.hover ul,
    ul.vcm-menu li.focus ul{
        display:block;
    }

    ul.vcm-menu li.hover ul ul,
    ul.vcm-menu li.focus ul ul{
        display:none;
    }

    ul.vcm-menu li ul li 
    {
        border-width:0 0 1px 0;
        border-style:solid;
        border-color:#1d1d1b;
        width:100%;
        display:block;
    }
    ul.vcm-menu li ul li a{
        color:#1d1d1b;
        min-height:0;
        padding:10px 0 10px 15px;	
        box-sizing:border-box;
    }
    ul.navitem.vcm-menu li:hover ul li a, ul.navitem.vcm-menu li:hover ul li
    {
        background-color:#EEF0F0;
        height:auto;
    }
    ul.navitem.vcm-menu li:hover ul li{
            border-width:0 0 1px 0;
            }
    ul.navitem.vcm-menu li:hover ul , ul.navitem.vcm-menu li:hover
    {
        border-width:0;
    }
    ul.vcm-menu.navitem li ul li a:hover{
        
        border-width:0 0 0 10px;
        border-style:solid;
    }
}
    .mobileMenu
    {
        display:none;
        width:100%;
        height:45px;
        color:#FFF;
        font-size:18px;
        line-height:45px;
    }
    .mobileMenu a{
            color:#FFF;
            position:relative;
            text-decoration:none;
            font-weight:800;
            width:100%;
            display:block;
            padding-left:40px;
    }


    .mobileMenu a
    {
        &:after{
        display:inline;
        position: absolute;
        font-family: "FontAwesome";
        content: "\f0c9";
        left: 10px;
        top:0;
        color:#FFF;
        font-size:20px;
        }
        &.open:after
        {
            content:"\f00d";

        }
    }
    .mobileMenu a:hover:after{
        background-color:#095AA2;

    }
    nav#ms-subnav ul.vcm-menu a.moreSection:hover, nav#ms-subnav ul.vcm-menu li:hover a.moreSection {
        background-color:transparent;
    }


    @media all and (max-width:1200px)
    {
        .mobileMenu
        {
            display:block;
        }
        nav#ms-subnav ul.navitem, nav#ms-subnav,.mobileMenu {
        min-height:40px;
        height:auto;
         }

     .ms-Content{
        padding-top:20px;
    }
     #menu{
    overflow:hidden;
    }
      nav#ms-subnav br
     {
        display:none;
     }
      nav#ms-subnav ul.navitem
     {
        display:block;
        height:auto;
        background-color:#EEF0F0;
        border:0;
     }
      nav#ms-subnav
     {
     display:none;
     }
     nav#ms-subnav ul.vcm-menu li ul
    {
        position:relative;
        top:0;
        left:0;
        width:100%;
    }
    
    nav#ms-subnav ul.vcm-menu li.focus ul
    {
        display:block;
    }
                
    nav#ms-subnav ul.vcm-menu > li > a
    {
        font-weight:800;
    }		
     nav#ms-subnav ul.navitem.vcm-menu >li {
        height:auto;
        min-height:0;
        display:block;
        width:100%;
        border-left:0;
        position:relative;
        border-bottom:1px solid #7d7d7d;
      }
       nav#ms-subnav ul.navitem.vcm-menu > li > a {
        color:#1d1d1b;
        display: block;
        padding:10px 10px 10px 15px;
        min-height:0;
        background-color:#EEF0F0;
        
      }
      nav#ms-subnav ul.vcm-menu li.hasChild > a.moreSection
    {
        width:50px;
    }
     nav#ms-subnav ul.vcm-menu li.hasChild > a.moreSection:after 
    {		
        top:10px;
        text-align:center;
        content:"\f054";
        }
       nav#ms-subnav ul.vcm-menu li.hasChild.focus > a.moreSection:after, nav#ms-subnav ul.vcm-menu li.hasChild.hover > a.moreSection:after {			
        content:"\f078";
      }
      nav#ms-subnav ul.navitem > li:hover > a{
       text-decoration:underline
       } 
    }
}
    @media (max-width:480px)
    {
        #ms-subnav .container
        {
            padding:0;
        }
        .vcm img.ms-mastheadImageSM 
        {
            max-height:none;
            width:calc( 100% + 30px);
            margin:0 -15px;
        }
}
/**mobile plugin**/
.vcmheader
{
    position: relative;
}

.mobile-mega-menu{
    -webkit-transform:translate3d(-100%,0,0);
    -ms-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0);
    -webkit-transition:all 250ms linear;
    transition:all 250ms linear;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    position:absolute;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -webkit-perspective:1000;
    background:#FFF;
	z-index:99999;
    border-bottom: 3px solid $Dark-grey;
    display: none;
    @media (max-width: 1200px)
    {
        display: block;
    }
    a, div, li, ul{
        -webkit-box-sizing:content-box;
        box-sizing:content-box
    }
    &.open{
        -webkit-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        background:#FFF;
        @media screen and (min-width:1200px)
        {
                display:none;
        }
    }
    .widget-region{
        background:#fff;
        padding:10px 20px;
        clear:both;
        -webkit-transform:translateZ(0)
    }
    nav{
        position:relative;
    }
    br{
        display: none;
    }
    ul{
        -webkit-transition:all 250ms linear;
        transition:all 250ms linear;
        margin:0;
        padding:0;
        position:absolute;
        right:0;
        top:0;
        width:100%;
        -webkit-transform:translateZ(0);
        &.has-been-viewed{
            -webkit-transform:translate3d(-100%,0,0);
            -ms-transform:translate3d(-100%,0,0);
            transform:translate3d(-100%,0,0)
        }
        >li:first-child
            {
            a 
            {   
                color:#fff;
                position: relative;
                font-weight: 800;
                width: 100%;
                display: block;
                box-sizing: border-box;
                padding-left: 50px;
                font-size: 18px;
                &:after{
                    display:inline;
                    position: absolute;
                    font-family: "FontAwesome";
                    content: "\f00d";
                    left: 25px;
                    top:10px;
                    color:#FFF;
                    font-size:20px;
                    }
                &:hover
                {
                    border:0;
                    color:#fff;
                }
            }
            } 
        li
        {
            
            width: 100%;
            display: block;
            float:left;
            border-width: 0 0 1px 0;
            border-color: #e1e3e3;
            border-style: solid;
            box-sizing:border-box;
            font-size:16px;
            a{
                -webkit-tap-highlight-color:transparent;
                float:left;
                margin:0;
                padding:10px 25px 10px 25px;
                line-height:27px;
                text-decoration:none;
                width:95%;
                box-sizing:border-box;
                &:hover{
                    color:$Charcoal;
                    text-decoration: underline;
                }
                &.has-next-button{
                    width:calc(95% - 45px);
                }
                &.next-button{
                    text-align:center;
                    text-indent:0;
                    text-shadow:none;
                    width:45px;
                    height:48px;
                    float: right;
                    &:hover
                        {
                            border: 0;
                            text-decoration: none;
                        }
                    .arrow
                    {
                        position:relative;
                        &:after {
                            display:inline;
                            font-family: "FontAwesome";
                            content: "\f105";
                            position:absolute;
                            top:0;
                            right:-10px;
                            width:45px;
                            text-align:right;
                            background-color:transparent;
                            color:#fff;
                            font-size: 32px;
                            font-weight: bold;
                        }
                        &:hover
                        {
                            border: 0;
                            text-decoration: none;
                        }
                    }
                }
                &.back-button{
                    padding-left:52px;
                    position:relative;
                    &:before{
                        display:inline-block;
                        position: absolute;
                        font-family: "FontAwesome";
                        content: "\f104";
                        left: 0;
                        top:0;
                        width:45px;
                        text-align:center;
                        font-weight: bold;
                        height: 48px;
                        font-size: 32px;
                        box-sizing: border-box; 
                        color: $White;
                        line-height: 48px;
                   }
                   &:hover{
                       text-decoration: none;
                   }
                }
                &.active
                {
                    font-weight: 700;
                }
            }
            &:last-child>a{
                border-bottom:none
            }
            a{
                &.back-button,&.back-button:hover
                {
                    border-left:0 
                }
            }
            &:first-child>a{
                border-top:none;
                border-left:0;
            }
             ul{
            left:100%;
            li.current{
                >a{
                    font-weight: 700px
                }
                
            }
        }
    }
    }
}
html.no-cssanimations .mobile-mega-menu{
    left:-100%
}
/**End mobile plugin**/
/****sideBar***/
aside#sideBar .vcm-sideMenu 
{
    background-color:$White;
    padding:0;
    .sectionLinks{
        display:none;
        >a
        {
            display:none;
        }
        &.current
        {
            display: block;
        }
    }
    
}
@media (max-width:480px) {
    .vcm aside#sideBar #contacts {
   padding:15px;
        }
    .vcm aside#sideBar #social
        {
        padding-left:10px;
        }
        aside#sideBar .vcm-sideMenu .vcmSection
        {
            margin:0;
            padding:0;
            ul
            {
                padding:0
            }
        }
        .vcm aside#sideBar
        {
            padding:0;
        
        }
}

aside#sideBar .vcm-sideMenu h1{
    width: 100%;
    padding: 15px;
    color:$White;
    margin-top:0;
    margin-bottom: 0;
}
aside#sideBar .vcm-sideMenu br
     {
        display:none;
     }
aside#sideBar .vcm-sideMenu ul.vcmSection{
    padding: 0;
    margin:0;
    li.sectionLinks{
        
        padding-left:0;
        ul
        {
            margin:0; 
            li{
                padding-bottom:0;
                padding-left:15px; 
                border-bottom:1px solid #979797;
                ul{
                    display: none;
                 }
                 &.current,&.focus
                 {
                    ul{
                        display: block;
                     }
                 }
                li{
                    border-bottom:none;
                    line-height: 40px;
                }
                &.current,&.focus
                {
                    padding-left:0;
                    h2{
                        padding-left:15px;
                    }
                    ul{
                        li.active{
                           a{
                            padding-left:15px;
                            pointer-events: none;
                            cursor: default;
                            text-decoration: none;
                            color: $Charcoal;
                           }
                        }
                    }
                }
                &.active
                {
                    padding-left:0;
                    h2{
                        padding-left:15px;
                        a
                        {
                            pointer-events: none;
                            cursor: default;
                            text-decoration: none;
                            color: $Charcoal;
                        }
                    }
                    ul{
                        display: block;
                    }
             }
            }
            
        }
    }
     }
 aside#sideBar .vcm-sideMenu li a
{
    text-decoration:none;
}
aside#sideBar .vcm-sideMenu li a:hover{
    text-decoration:underline;
}	
aside#sideBar .vcm-sideMenu li.hasChild
{
    position:relative;
}
aside#sideBar .vcm-sideMenu li.hasChild> a.moreSection {
    display:block;
    position: absolute;
    top:-2px;
    right:0;
    text-decoration:none;
    width:50px;
    height:46px;
    line-height:45px;
    text-align:right;
    padding-right:20px;
    }
  aside#sideBar .vcm-sideMenu li.hasChild> a.moreSection:after, {
    font-family: "FontAwesome";
    content: "\f054";
    color:$White;
    line-height: 50px;
    width:50px;
    display:block;
    text-align: center;
  }

aside#sideBar .vcm-sideMenu li.hasChild.focus> a.moreSection:after,aside#sideBar .vcm-sideMenu li.hasChild.current> a.moreSection:after,aside#sideBar .vcm-sideMenu li.hasChild.active> a.moreSection:after{
    content: "\f078";
    
}



aside#sideBar .vcm-sideMenu li>h2
{
    margin:2px 0;
    padding:10px 45px 10px 0;
}
aside#sideBar .vcm-sideMenu li>h2>a{
    margin-top:0;
}
aside#sideBar .vcm-sideMenu .vcmSection li .sub-menu
{
    display:none;
}
aside#sideBar .vcm-sideMenu .vcmSection li.focus .sub-menu,.sub-menu,aside#sideBar .vcm-sideMenu .vcmSection li.current .sub-menu
{
    display:block;
}
aside#sideBar .vcm-sideMenu .vcmSection li .sub-menu a
{
    margin-bottom:10px;
    display:block;
}
aside#sideBar .vcm-sideMenu .vcmSection li .sub-menu ul {
    display:none;
}
.vcm img.news {
    width:100%;
}
.vcm{
    table.govstyleTable-default {
         th{
               border:1px solid #E0E0E0;
               padding:5px;
               text-align: left;
               vertical-align: top;
               color:$White;
        }
        td{
            border:1px solid #E0E0E0;
            padding:5px;
            text-align: left;
            vertical-align: top;
        }
        tr.govstyleTableFooterRow-default{
            background-color:#eef0f0;
            color:$Black;
        }
    }
}

.row.list {
    div.col-md-4 { 
        margin: 5px 0;
    }

    :nth-child(3n+1).col-md-4 {
        clear: both;
    }

    .nopadding {
        padding: 0;
    }
}

#PeopleList section#Search {
    border-bottom: none;
    padding: 16px 15px;
    margin-bottom: 30px;
}

#People {
    .row.list {
        font-size: 0.8em;
    }

    span.pFilter1 {
        display: none;
    }

    div.clearfix.visible-xs-block {
        display: block; margin: 20px 0;
    }
}

@media (min-width: 1052px) {
    #PeopleList #Filter1 {
        float: right;
    }
}