.ms-mastheadImage {
    max-height: 320px;
    width: 100%;
    overflow: hidden;
    @media (max-width: $screen-phone) {
        display:none;
    }
}

.ms-mastheadImageSM {
    display: none;
    @media (max-width: $screen-phone) {
        max-height: 320px;
        width: 100%;
        overflow: hidden;
        display: block;
    }
}

#vcmlanding 
{
    img{
        width:100%;
    }
    .row{
        margin-bottom: 1.5em;
    }
    
}


nav#ms-subnav {
    display: block;
    background-color: $foster;
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px;
    ul.navitem {
        padding: 0;
        margin: 0;
        min-height: 60px;
        display: table;
        width: 100%;
        border-left: 1px solid #0197B7;
        border-right: 1px solid #0197B7;
        width: 100%;
        li {
            display: table-cell;
            border-left: 1px solid #0197B7;
            &:first-child {
                border-left: 0px solid #0197B7;
            }
        }
        a {
            font-size: em(16px, 14px);
            display: block;
            padding-top: 10px;
            min-height: 60px;
            text-align: center;
            color: $White;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &:hover {
                background-color: $fosterHighlight;
            }
        }
    }
    @media (max-width:767px) {
        display: none;
    }
}

#ms-footercontent {
    background-color: $Lightest-grey;
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
    padding-bottom: 20px;
    ol {
        padding-left: 18px;
    }
}

aside#sideBar.ms-SideBar {
    h1 {
        color: $foster;
    }
    .contactTitle {
        font-weight: bold;
    }
    i {
        font-size: 28px;
        padding-right: 10px;
        &:hover {
            color: $Red;
        }
    }
}

.ms-Content {
    font-size: em(18px, 14px);
    span {
        display: block;
    }
    a {
        color: $foster;
        &:hover {
            color: $Black;
        }
    }
    p {
        font-size: em(18px, 18px);
    }
    img {
        max-width: 100%;
    }
    h2 {
        color: $foster;
        margin: 30px 0 10px 0;
        font-size: 28px;
        text-decoration: none;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
        @media (max-width: $screen-tablet) {
            font-size: 22px;
            margin-bottom: 0;
        }
        @media (max-width:$screen-phone) {
            font-size: 22px;
            margin-bottom: 0;
        }
    }
    h3 {
        font-size: em(20px, 18px);
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
    }
    hr {
        margin: 30px 0 20px 0;
    }
    ul {
        list-style-type: disc;
    }
    ul,
    ol {
        margin-left: 0;
        padding-left: 3em;
        @media (max-width: $screen-phone) {
            padding-left:2em;
        }
        ul,
        ol {
            margin-left: 0;
            padding-left: 1.5em;
            @media (max-width: $screen-phone) {
                margin-left: 20px;
                padding-left: 0;
            }
        }
    }
    table thead th {
        padding: 5px;
        background: $foster;
        color: $White;
        font-weight: bold;
        text-align: left;
        border: solid 1px #E0E0E0;
    }
    table thead th {
        padding: 5px;
        background-color: $Lightest-grey;
        color: $Charcoal;
        font-weight: bold;
        text-align: left;
        border: solid 1px #E0E0E0;
    }
    table tbody th {
        border: solid 1px #E0E0E0;
        background-color: $foster;
        color: $White;
        vertical-align: top;
        padding: 5px;
        text-align: left;
    }
}

.ms-contentmargin {
    margin-bottom: 35px;
}

.ms-date {
    font-size: 14px;
}

#ms-sitelogo {
    width: 300px;
    margin-bottom: 15px;
    img {

        height: 78px;
    }
    @media (max-width: $screen-phone) {
        text-align: center;
        width: 100%;
        img {
            height: auto;
        }
    }
}

.ms-panel-heading {
    background-color: $foster !important;
    &:hover {
        background-color: $fosterHighlight !important;
    }
    a {
        &:hover {
            color: $White !important;
        }
    }
}
.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.js-video.widescreen {
    padding-bottom: 47.8%;
}

.js-video.vimeo {
    padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $Black;
}


.vcm {
        
    nav#ms-subnav ul.navitem, nav#ms-subnav,.mobileMenu {
        height:60px;
    }
    nav#ms-subnav ul.vcm-menu li a,.mobileMenu a{
        text-align:left;
        cursor:pointer;
    }
    nav#ms-subnav ul.navitem.vcm-menu >li {
        height:60px;
        border-color:rgba(255,255,255,0.15);
        border-left-width:1px;
        float:left;
        display:table;
    }
    nav#ms-subnav ul.navitem {
        border-color:rgba(255,255,255,0.15);
    }

    nav#ms-subnav ul.vcm-menu > li > a
    {
    text-align:left;
    padding-left:15px;
    padding-right:35px;
    padding-top:0;
    min-height:60px;
    display:table-cell;
    vertical-align:middle;
    }
    nav#ms-subnav ul.vcm-menu li.hasChild 
    {
        position:relative;
    }
    nav#ms-subnav ul.vcm-menu li.hasChild > a.moreSection
    {
        position:absolute;
        width:35px;
        height:38px;
        top:0;
        right:0;
        display:block;
    }
    nav#ms-subnav ul.vcm-menu li.hasChild > a.moreSection:after {
        display:inline;
        position: absolute;
        font-family: "FontAwesome";
        content: "\f054";
        right: 5px;
        top:20px;
        width:35px;
        height:38px;
        text-align:right;
    }
    nav#ms-subnav ul.vcm-menu > li.hasChild.focus > a.moreSection:after 
    {
        content: "\f078";
    }
    nav#ms-subnav ul.vcm-menu li.hasChild:hover a.moreSection:after {
        text-decoration:none;
    }
    nav#ms-subnav ul.vcm-menu li ul {
        background-color:#EEF0F0;
        width: 320px;
        z-index: 1;
        display:none;
        top:60px;
        position:absolute;
        left:-1px;
        padding:0;
    }
        nav#ms-subnav ul.vcm-menu li ul ul,nav#ms-subnav ul.vcm-menu li.focus ul ul {
    display:none;
            }
    nav#ms-subnav ul.vcm-menu li.hover ul,
    nav#ms-subnav ul.vcm-menu li.focus ul{
        display:block;
    }

    nav#ms-subnav ul.vcm-menu li.hover ul ul,
    nav#ms-subnav ul.vcm-menu li.focus ul ul{
        display:none;
    }

    nav#ms-subnav ul.vcm-menu li ul li 
    {
        border-width:0 0 1px 0;
        border-style:solid;
        border-color:#1d1d1b;
        width:100%;
        display:block;
    }
    nav#ms-subnav ul.vcm-menu li ul li a{
        color:#1d1d1b;
        min-height:0;
        padding:10px 0 10px 15px;	
        box-sizing:border-box;
    }
    nav#ms-subnav ul.navitem.vcm-menu li:hover ul li a,nav#ms-subnav ul.navitem.vcm-menu li:hover ul li
    {
        background-color:#EEF0F0;
        height:auto;
    }
    nav#ms-subnav ul.navitem.vcm-menu li:hover ul li{
            border-width:0 0 1px 0;
            }
    nav#ms-subnav ul.navitem.vcm-menu li:hover ul ,nav#ms-subnav ul.navitem.vcm-menu li:hover
    {
        border-width:0;
    }
    nav#ms-subnav ul.vcm-menu.navitem li ul li a:hover{
        
        border-width:0 0 0 10px;
        border-style:solid;
        padding-left:5px;
    }
    .mobileMenu
    {
        display:none;
        width:100%;
        height:45px;
        color:#FFF;
        font-size:18px;
        line-height:45px;
    }
    .mobileMenu a{
            color:#FFF;
            position:relative;
            text-decoration:none;
            font-weight:800;
            width:100%;
            display:block;
            padding-left:40px;
    }


    .mobileMenu a:after
    {
        display:inline;
        position: absolute;
        font-family: "FontAwesome";
        content: "\f0c9";
        left: 10px;
        top:0;
        color:#FFF;
        font-size:20px;
    }
    .mobileMenu a:hover:after{
        background-color:#095AA2;

    }
    nav#ms-subnav ul.vcm-menu a.moreSection:hover, nav#ms-subnav ul.vcm-menu li:hover a.moreSection {
        background-color:transparent;
    }


    @media all and (max-width:1200px)
    {
        .mobileMenu
        {
            display:block;
        }
        nav#ms-subnav ul.navitem, nav#ms-subnav,.mobileMenu {
        min-height:40px;
        height:auto;
         }

     .ms-Content{
        padding-top:20px;
    }
     #menu{
    overflow:hidden;
    }
      nav#ms-subnav br
     {
        display:none;
     }
      nav#ms-subnav ul.navitem
     {
        display:block;
        height:auto;
        background-color:#EEF0F0;
        border:0;
     }
      nav#ms-subnav
     {
     display:none;
     }
     nav#ms-subnav ul.vcm-menu li ul
    {
        position:relative;
        top:0;
        left:0;
        width:100%;
    }
    
    nav#ms-subnav ul.vcm-menu li.focus ul
    {
        display:block;
    }
                
    nav#ms-subnav ul.vcm-menu > li > a
    {
        font-weight:800;
    }		
     nav#ms-subnav ul.navitem.vcm-menu >li {
        height:auto;
        min-height:0;
        display:block;
        width:100%;
        border-left:0;
        position:relative;
        border-bottom:1px solid #7d7d7d;
      }
       nav#ms-subnav ul.navitem.vcm-menu > li > a {
        color:#1d1d1b;
        display: block;
        padding:10px 10px 10px 15px;
        min-height:0;
        background-color:#EEF0F0;
        
      }
      nav#ms-subnav ul.vcm-menu li.hasChild > a.moreSection
    {
        width:50px;
    }
     nav#ms-subnav ul.vcm-menu li.hasChild > a.moreSection:after 
    {		
        top:10px;
        text-align:center;
        content:"\f054";
        }
       nav#ms-subnav ul.vcm-menu li.hasChild.focus > a.moreSection:after, nav#ms-subnav ul.vcm-menu li.hasChild.hover > a.moreSection:after {			
        content:"\f078";
      }
      nav#ms-subnav ul.navitem > li:hover > a{
       text-decoration:underline
       } 
    }
}
    @media (max-width:480px)
    {
        #ms-subnav .container
        {
            padding:0;
        }
        .vcm img.ms-mastheadImageSM 
        {
            max-height:none;
            width:calc( 100% + 30px);
            margin:0 -15px;
        }
}
/****sideBar***/
aside#sideBar .vcm-sideMenu 
{
    background-color:$White;
    padding:0;
}
@media (max-width:480px) {
    .vcm aside#sideBar #contacts {
   padding:15px;
        }
    .vcm aside#sideBar #social
        {
        padding-left:10px;
        }
}

aside#sideBar .vcm-sideMenu h1{
    width: 100%;
    padding: 15px;
    color:$White;
    margin-top:0;
}
aside#sideBar .vcm-sideMenu br
     {
        display:none;
     }
 aside#sideBar .vcm-sideMenu li a
{
    text-decoration:none;
}
aside#sideBar .vcm-sideMenu li a:hover{
    text-decoration:underline;
}	
aside#sideBar .vcm-sideMenu li.hasChild
{
    position:relative;
}
aside#sideBar .vcm-sideMenu li.hasChild> a.moreSection {
    display:block;
    position: absolute;
    top:0;
    right:0;
    text-decoration:none;
    width:60px;
    height:40px;
    line-height:45px;
    text-align:right;
    padding-right:20px;
    }
  aside#sideBar .vcm-sideMenu li.hasChild> a.moreSection:after {
    font-family: "FontAwesome";
    content: "\f054";
    color:$Mid-grey;
    
  }

aside#sideBar .vcm-sideMenu li.hasChild.focus> a.moreSection:after,aside#sideBar .vcm-sideMenu li.hasChild.current> a.moreSection:after{
    content: "\f078";
    
}
aside#sideBar .vcm-sideMenu .vcmSection
{
    margin:0;
    padding:0;
}
.vcm aside#sideBar
{
    padding:0;
    margin-top:20px;
    
}
aside#sideBar .vcm-sideMenu .vcmSection > li
{
        padding-left:15px;
        border-bottom:1px solid #979797;
}
aside#sideBar .vcm-sideMenu li>h2
{
    margin:2px 0;
    padding:10px 0;
}
aside#sideBar .vcm-sideMenu li>h2>a{
    margin-top:0;
}
aside#sideBar .vcm-sideMenu .vcmSection li .sub-menu
{
    display:none;
}
aside#sideBar .vcm-sideMenu .vcmSection li.focus .sub-menu,.sub-menu,aside#sideBar .vcm-sideMenu .vcmSection li.current .sub-menu
{
    display:block;
}
aside#sideBar .vcm-sideMenu .vcmSection li .sub-menu a
{
    margin-bottom:10px;
    display:block;
}
aside#sideBar .vcm-sideMenu .vcmSection li .sub-menu ul {
    display:none;
}
.vcm img.news {
    width:100%;
}