section.news {
    margin-bottom: 20px;
    img {
        margin-bottom: 10px;
        max-width: 100%;
    }
    h2 {
        line-height: 31px;
        font-size: 30px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        color: $GovJeRed;
    }
    h2.highlight {
        line-height: 30px;
        font-size: 24px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: $text-color;
        margin-top: 0 !important;
    }
    h3 {
        line-height: 30px;
        font-size: 24px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: $text-color;
        margin-top: 0 !important;
    }
    h3:hover {
        text-decoration: underline;
    }
    h3.highlight {
        line-height: 30px;
        font-size: 19px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: $text-color;
    }
    h4 {
        line-height: 30px;
        font-size: 19px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: $text-color;
    }
    h4:hover {
        text-decoration: underline;
    }
    p {
        font-size: 17px;
        font-family: proxima-nova, sans-serif;
        line-height: 21px;
        margin-bottom: 12px;
    }
    hr {
        border: none;
        height: 2px;
        color: $text-color;
        background-color: $text-color;
        margin-top: 0;
    }
    p {
        color: $text-color;
        text-decoration: none !important;
    }
    a.articleLink {
        text-decoration: none;
        &:hover h3 {
            text-decoration: underline;
            color: $text-color;
        }
    }
    p.readMore {
        color: $GovJeRed;
        text-decoration: underline !important;
        margin-bottom: 18px;
        &:hover {
            color: $text-color;
        }
    }
    .leftColumn {
        padding-right: 20px !important;
    }
    .rightColumn {
        padding-left: 20px !important;
    }
}