//Search Result & report page styling
.hidden {
    margin: 0;
    padding: 0;
}

section#SearchResult,
section#statesreports {
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
    a.removelink {
        display: inline-block;
        padding-right: 20px;
        &:after {
            color: $Red;
            content: "\f00d";
            font-family: FontAwesome;
            font-size: 18px;
            margin-left: 10px;
            display: inline-block;
            text-decoration: none;
        }
    }
    a.selectedlink {
        display: inline-block;
        padding-right: 20px;
        &:after {
            color: $Red;
            content: "\f0c8";
            font-family: FontAwesome;
            font-size: 18px;
            margin-left: 10px;
            display: inline-block;
            text-decoration: none;
        }
    }
    .search-formGrey {
        min-width: 110px;
        color: #848284;
        height: 25px;
        display: block;
        float: left;
        margin-top: 6px;
        margin-right: 10px;
        font-weight: 700;
    }
    .icn {
        margin-right: 5px;
    }
    .searchicn {
        padding-right: 5px;
        margin-bottom: 8px;
    }
    .pager {
        margin: 20px 0 10px;
        .page,
        .currentpage {
            margin-right: 20px;
            @media (max-width: $screen-phone) {
                margin-right: 12px;
            }
            width: 32px;
            float: left;
            border: 1px solid $Dark-grey;
            text-align: center;
            &:hover {
                border: 1px solid $Red;
            }
            a {
                text-decoration: none;
                font-weight: 700;
                width: 30px;
                line-height: 30px;
                height: 28px;
                display: block;
                &:hover {
                    text-decoration: underline;
                    color: $Red;
                }
            }
        }
        .paging {
            display: none;
            div,
            span {
                float: left;
                font-size: 16px;
                font-weight: 700;
                line-height: 32px;
            }
        }
        .currentpage {
            border: 1px solid $Red;
            a {
                color: $Red;
            }
        }
        .pageitems {
            a {
                text-decoration: underline;
                margin-right: 10px;
            }
            a:first-of-type {
                margin-left: 10px;
            }
            a.current {
                text-decoration: none;
                color: $Red;
            }
            span {
                display: none;
            }
        }
    }
    .pager:first-of-type {
        .paging {
            display: block;
        }
        .page,
        .currentpage {
            display: none;
        }
    }
    .paging {
        display: block;
        width: 100%;
        float: left;
        text-align: left;
    }
    label.search {
        margin: 0;
        padding: 4px 0 0 0;
        font-family: proxima-nova, sans-serif;
        font-size: 20px;
        font-weight: normal;
    }
    .input-group {
        width: 100%;
        max-width: 400px;
    }
    .latestnewsheader,
    .SearchSummaryHeader {
        float: left;
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    table {
        float: left;
        clear: left;
        width: 100%;
        margin-bottom: 20px;
        text-align: left;
        th,
        td,
        tr {
            text-align: left;
        }
    }
    .reportlistitem {
        float: left;
        clear: left;
        dd {
            width: auto;
        }
    }
    .decision {
        font-size: 18px;
    }
    .results {
        padding: 0;
        margin-left: 0;
        .teaser {
            color: $Charcoal;
            font-size: 18px;
            min-height: 40px;
        }
        li {
            list-style: none;
            margin-bottom: 20px;
            float: left;
            clear: left;
            width: 100%;
            h2 {
                margin-top: 0;
            }
            .title a,
            a .title {
                font-size: 24px;
                color: $Red;
                text-decoration: underline;
                font-weight: 700;
                &:hover {
                    color: $Charcoal;
                }
            }
            .set {
                font-size: 16px;
            }
            dt {
                float: left;
                clear: left;
                color: $Charcoal;
                margin-right: 20px;
                border-top-style: none;
                padding-top: 0;
                padding-bottom: 5px;
            }
            dt.reports {
                width: 110px;
            }
            dt.Desastre {
                width: 130px;
            }
            dl.newsdate {
                margin-bottom: 0;
                dt {
                    width: 80px;
                }
            }
            dt.precall {
                width: 130px;
            }
            .date {
                font-size: 16px;
            }
            dd {
                float: left;
                color: $Charcoal;
                border-top-style: none;
                padding-top: 0;
                padding-bottom: 5px;
            }
            dd.email {
                -ms-word-break: break-all;
                word-break: break-all;
            }
            .reportFooter,
            .departmentLink {
                float: left;
                clear: left;
            }
            .searchpreview {
                display: none;
                background: $White repeat scroll 0 0;
                border: 2px solid $Charcoal;
                background-color: $White;
                box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
                -o-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
                height: 295px;
                padding: 5px 0;
                position: absolute;
                right: -10px;
                top: -40px;
                width: 265px;
                z-index: 100000;
                p {
                    padding: 4px 10px 0;
                    line-height: 1.3em;
                    word-wrap: break-word;
                    font-size: 1.2em;
                }
                .nooverflow {
                    overflow: hidden;
                    position: relative;
                    width: 261px;
                    height: 286px;
                    .noclick {
                        width: 265px;
                        height: 295px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        z-index: 100000;
                    }
                }
                h3 {
                    width: 100%;
                    margin: 0;
                    word-wrap: break-word;
                }
                .srch-hover-arrow {
                    border-color: transparent $Lightest-grey transparent transparent;
                    border-style: solid;
                    border-width: 15px;
                    height: 0;
                    left: -30px;
                    position: absolute;
                    width: 0;
                    top: 80.5px;
                }
                iframe {
                    border: 2px solid $Lightest-grey;
                    height: 1240px;
                    overflow: hidden;
                    transform: scale(0.2, 0.2);
                    width: 1338px;
                    margin-left: -542px;
                    margin-top: -495px;
                    max-width: none;
                    &.pdf {
                        width: calc(100%+40px);
                        height: 250px;
                        transform: none;
                        margin-left: -20px;
                        margin-top: 0;
                    }
                    body,
                    html {
                        overflow: hidden;
                    }
                }
                .loading {
                    padding-left: 10px;
                }
            }
            @media (min-width:$screen-desktop) {
                position: relative;
                &:hover {
                    .searchpreview {
                        display: block;
                    }
                }
            }
        }
    }
    .input-group-btn {
        background-color: $Lightest-grey;
        position: absolute;
        right: 80px;
        top: 0;
        height: 38px;
        @media (max-width: $screen-tablet) {
            width: 38px;
            height: 38px;
            overflow: hidden;
            display: block;
            background-color: $Red;
            position: absolute;
            right: 0;
            top: 0;
            &:after {
                color: $White;
                content: "\f002";
                font-family: FontAwesome;
                font-size: 22px;
                position: absolute;
                top: 10%;
                left: 25%;
            }
        }
    }
    #query {
        border-radius: 0;
        font-size: 16px;
        border-right-style: none;
    }
    .btn-default {
        color: $White;
        background-color: $Red;
        border-bottom: 3px solid $Dark-grey;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        margin-right: 10px;
        border-radius: 0;
        font-size: 18px;
        line-height: 29px;
        padding: 0 15px;
        height: 38px;
        @media (max-width: $screen-tablet) {
            padding: 0 0 0 70px;
            height: 38px;
            width: 38px;
            border: 0;
            background-color: transparent;
        }
        &:hover {
            border-bottom: 0 solid $Dark-grey;
            background-color: #9f0110;
        }
    }
    .form-control {
        border-radius: 0;
        font-size: 16px;
        height: 38px;
        padding-right: 90px;
        @media (max-width: $screen-tablet) {
            padding-right: 40px;
        }
    }
    .btn {
        border-radius: 0;
        height: 38px;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
    }
    .magglass {
        width: 100%;
        height: 100%;
        fill: $White;
    }
    a.button {
        padding-top: 2px;
        margin-bottom: 0;
        padding-bottom: 0;
        @media (min-width: $screen-phone) {
            padding-top: 0;
        }
    }
    .recomendedpanel {
        float: left;
        border-left: 2px solid $Red;
        margin-bottom: 20px;
        width: 100%;
        .Recomended,
        .recomendresults.results {
            padding-left: 15px;
        }
    }
    aside#sideBar {
        background-color: $White;
        .navbox {
            float: left;
            width: 100%;
            fieldset {
                float: left;
            }
            .sidePanel {
                background-color: $White;
                border: 1px solid $Lightest-grey;
                padding: 0;
                margin-bottom: 20px;
                float: left;
                width: 100%;
                .RefineResults {
                    background-color: $Lightest-grey;
                    float: left;
                    height: 40px;
                    margin: 0;
                    padding: 0 10px;
                    width: 100%;
                }
                a {
                    color: $Charcoal;
                    &:hover {
                        color: $Red;
                    }
                }
                @media (max-width:$screen-tablet) {
                    overflow: hidden;
                    margin: 0;
                }
                p {
                    font-size: 18px;
                    font-family: proxima-nova, sans-serif;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 10px;
                    float: left;
                    li {
                        padding-bottom: 10px;
                        width: 100%;
                        float: left;
                        a {
                            font-size: 18px;
                            font-family: proxima-nova, sans-serif;
                            &:hover {
                                color: $Red;
                            }
                        }
                        a[target=_blank] {
                            &:after {
                                content: "\f08e";
                                font-family: FontAwesome;
                                font-size: 18px;
                                margin-left: 10px;
                                display: inline-block;
                                text-decoration: none;
                            }
                        }
                        input[type="checkbox"] {
                            margin-right: 20px;
                            float: left;
                        }
                        label {
                            display: inline-block;
                            float: left;
                            font-weight: 600;
                            line-height: 18px;
                            font-size: 18px;
                            margin-bottom: 5px;
                        }
                    }
                }
                h1 {
                    color: $Charcoal;
                    font-size: 22px;
                    font-family: proxima-nova, sans-serif;
                    font-weight: 700;
                    margin-top: 10px;
                }
                h3 {
                    color: $Charcoal;
                    font-size: 22px;
                    font-family: proxima-nova, sans-serif;
                    font-weight: 700;
                    margin-top: 10px;
                }
                h4 {
                    color: $Charcoal;
                    font-size: 22px;
                    font-family: proxima-nova, sans-serif;
                    font-weight: 700;
                }
                #contacts {
                    ul {
                        margin: 0;
                        padding: 0;
                    }
                    p.contactTitle {
                        margin-bottom: 0;
                    }
                    p.contactOpening {
                        margin: 15px 0;
                        padding: 0;
                    }
                    @media (max-width:$screen-phone) {
                        border-style: none !important;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

section#statesreports {
    #sideBar {
        float: right;
    }
}

.DepartmentDD {
    @media (max-width: $screen-phone) {
        max-width: 280px;
        option {
            max-width: 280px;
        }
    }
}

.ministerialdecisions {
    .report a {
        font-size: 18px;
        color: $Red;
    }
    .paging {
        font-size: 18px;
        a {
            font-size: 18px;
            color: $Red;
        }
    }
}