Section#Services {
    ul {
        list-style: none;
        margin-bottom: 20px;
        padding: 0;
        clear: both;
        float: left;
        width: 100%;
        li {
            display: inline-block;
            padding: 5px 0;
            list-style: none;
            margin-bottom: 15px;
            @media(max-width: $screen-tablet) {
                margin-bottom:0;
            }
            @media (min-width: $screen-desktop) {
                padding: 5px 15px 5px 0;
                &:nth-child(3n) {
                    padding-right: 0;
                    &:after {
                        content: ".";
                        display: block;
                        height: 0;
                        clear: both;
                        visibility: hidden;
                    }
                }
                &:nth-of-type(3n+1) {
                    clear: left;
                }
            }
            a {
                font-size: 18px;
                color: $Red;
                padding: 15px;
                background-color: $Lightest-grey;
                width: 100%;
                display: block;
                @media(max-width: $screen-tablet) {
                    padding:0;
                }
            }
            &:hover a {
                color: $Charcoal;
            } 
        }
    }
    .panel {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-style: none;
        border-radius: 0 !important;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    .panel-heading {
        background-color: $Red;
        color: $White;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px 0;
        h2 {
            line-height: 2em;
            padding-left: 10px;
            a {
                background-position: right center;
                background-repeat: no-repeat;
                background-size: 45px 45px;
                background-image: url('/_controltemplates/15/C5.GovJEResponsive/images/plus.svg');
                display: block;
                text-decoration: none;
                font-weight: 700;
                width: 100%;
                font-size: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
            a.collapsed {
                background-image: url('/_controltemplates/15/C5.GovJEResponsive/images/plus.svg');
            }
            a.opened {
                background-image: url('/_controltemplates/15/C5.GovJEResponsive/images/minus.svg');
            }
        }
        a {
            text-decoration: none;
            color: $White;
            &:hover {
                color: $Focus-blue-dark;
            }
            &:visited {
                color: $Focus-blue-dark;
            }
        }
    }
    .panel-body {
        h3 {
            margin-bottom: 0;
            a {
                color: $Red;
                font-weight: 600;
                &:hover {
                    color: $Charcoal !important;
                }
                &:visited {
                    color: $Red;
                }
            }
        }
    }
    .panel-collapse {
        background-color: $Lightest-grey;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            border-bottom: solid 1px #cccccc;
            padding: 10px 0;
        }
        li.first {
            padding-top: 0;
        }
        li.last {
            border-bottom: dotted 0 $Charcoal;
        }
        li a {
            color: $Charcoal;
            text-decoration: underline;
            font-family: proxima-nova, sans-serif;
            font-weight: 400;
            font-size: 20px;
            &:hover {
                color: $Red;
            }
        }
    }
}