header {
    background-color: $Red;
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    @media (max-width: $screen-tablet) {
        padding: 5px 0;
    }
    h1 {
        margin: 0;
        padding: 0;
    }
    p.info {
        margin: 18px 0 5px 10px;
        padding: 0;
        font-size: 16px;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
        color: $White;
        line-height: 16px;
    }
    p {
        margin: 0 0 0 20px;
        padding: 0;
        font-size: 14px;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
        color: $White;
        line-height: 15px;
    }
    a {
        float: left;
        font-size: 36px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: $White;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 25px;
        &:hover {
            color: $Focus-blue-dark;
            text-decoration: none;
        }
        &:visited {
            color: $White;
        }
        img {
            margin: 0 12px 0 0;
            height: 58px;
            width: 38px;
        }
    }
    .sitetitle {
        a {
            color: $White;
            &:visited {
                color: $White;
            }
        }
    }
    .right {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    ul {
        list-style-type: none;
        display: inline-block;
        margin: 18px 0 0 0;
        @media (max-width: $screen-tablet) {
            margin: 16px 0 0 0;
        }
        li {
            display: inline-block;
            margin-right: 20px;
            a {
                color: $White;
                font-size: em(16px, 14px);
                padding-right: 0;
                font-family: proxima-nova, sans-serif;
                text-decoration: underline;
                &:hover {
                    color: $Focus-blue-dark;
                }
            }
        }
        li:last-child {
            margin-right: 0;
        }
    }
}

#nav-subheader{
    margin-bottom:20px;
    width:100%;
    background:$Lightest-grey;
    border-bottom:1px solid $Mid-grey;
    border-top:0;
    min-height:14px;
}

#loggedin
{
    cursor:pointer;
    }
#pnlLoggedPop{
position:absolute;
top:50px;
right:15px;
z-index:999999;
width:320px;
height:100px;
background-color:$White;
padding: 10px;
border-radius: 0;
box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}
#pnlLoggedPop li{
    display: block;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid $Pale-grey;
    text-align: right;
    &:last-child
    {
        border: 0;
    }
}

    #pnlLoggedPop li a {
        color:$Charcoal;
        text-decoration: underline;
        float:none;
        width:100%;
    }
    @media (max-width:767px) {
        #pnlLoggedPop {
        position: absolute;
        margin: 0;
        width: 100%;
        top: 73px;
        right:0;
        }
    
    }
#pnlLoggedPop.pnllogin {
        height: auto;
        right:0;
    }
    @media (min-width:768px) {
        #pnlLoggedPop.pnllogin {
            width: 375px;
            padding:10px;

        }
    }
        #pnlLoggedPop.pnllogin a {
           color:$Red;
        }
    #pnlLoggedPop.pnllogin p {
    color:#1b1b1d;
    margin:0 0 5px;
    font-weight:normal;
    }
            #pnlLoggedPop.pnllogin p.strong {
        font-weight:600;
        }
        #pnlLoggedPop.pnllogin li {
        text-align:left;
        }