section#Search {
    background-color: $Lightest-grey;
    padding: 5px 0 5px 0;
    border-bottom: solid 1px $Mid-grey;
    label.search {
        margin: 0;
        padding: 6px 0 0 0;
        font-family: proxima-nova, sans-serif;
        font-size: 20px;
        font-weight: normal;
    }
    .input-group {
        @media (max-width: $screen-tablet) {
            width: 100%;
        }
    }
    .input-group-btn {
        background-color: $Lightest-grey;
        @media (max-width: $screen-tablet) {
            width: 38px;
            height: 38px;
            overflow: hidden;
            display: block;
            background-color: $Red;
            position: absolute;
            right: 0;
            top: 0;
            &:after {
                color: $White;
                content: "\f002";
                font-family: FontAwesome;
                font-size: 22px;
                position: absolute;
                top: 10%;
                left: 25%;
            }
        }
    }
    #query {
        border-radius: 0;
        font-size: 16px;
        border-right-style: none;
    }
    .btn-default {
        color: $White;
        background-color: $Red;
        border-bottom: 3px solid $Dark-grey;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        border-radius: 0;
        font-size: 18px;
        line-height: 29px;
        padding: 0 15px;
        height: 38px;
        @media (max-width: $screen-tablet) {
            padding: 0 0 0 70px;
            height: 38px;
            width: 38px;
            border: 0;
            background-color: transparent;
        }
        &:hover {
            border-bottom: 0 solid $Dark-grey;
            background-color: #9f0110;
        }
    }
    .form-control {
        border-radius: 0;
        height: 38px;
        line-height: 28px;
    }
    .btn {
        border-radius: 0;
        height: 38px;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
    }
    .magglass {
        width: 100%;
        height: 100%;
        fill: $White;
    }
    a.button {
        padding-top: 2px;
        margin-bottom: 0;
        padding-bottom: 0;
        @media (min-width: $screen-phone) {
            padding-top: 0;
        }
    }
}

#mdSearchBox .input-group input.querytext.searchbox.form-control {
    padding-right:0px;
}