section#Search {
    background-color: $Content-Background;
    padding: 5px 0 5px 0;
    border-bottom: solid 1px $keyline;
    label.search { 
        margin: 0;
        padding: 6px 0 0 0;
        font-family: proxima-nova, sans-serif;
        font-size: 20px;
        font-weight: normal;
    }
    .input-group {
        @media (max-width: $screen-tablet) {
            width: 100%;
        }
    }
    .input-group-btn {
        background-color: $Content-Background;
        @media (max-width: $screen-tablet) {
            width: 38px;
            height: 38px;
            overflow: hidden;
            display: block;
            background-color: $GovJeRed;
            position: absolute;
            right: 0;
            top: 0;
            background-image: url("/_controltemplates/15/C5.GovJEResponsive/images/magglass.svg");
            background-position: 7px 7px;
            background-repeat: no-repeat;
            background-size: 25px 25px;
        }
    }
    #query {
        border-radius: 0;
        font-size: 16px;
        border-right-style: none;
    }
    .btn-default {
        color: $GovJEWhite;
        background-color: $GovJeRed;
        border-bottom: 3px solid #666;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        border-radius: 0;
        font-size: 18px;
        line-height: 29px;
        padding: 0 15px;
        height: 38px;
        @media (max-width: $screen-tablet) {
            padding: 0 0 0 70px;
            height: 38px;
            width: 38px;
            border: 0;
            background-color: transparent;
        }
        &:hover {
            border-bottom: 0 solid #666;
            background-color: #9f0110;
        }
    }
    .form-control {
        border-radius: 0;
        height: 38px;
    }
    .btn {
        border-radius: 0;
        height: 38px;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
    }
    .magglass {
        width: 100%;
        height: 100%;
        fill: $GovJEWhite;
    }
    a.button {
        padding-top: 2px;
        margin-bottom: 0;
        padding-bottom: 0;
        @media (min-width: $screen-phone) {
            padding-top: 0;
        }
    }
}