aside#sideBarSocial {
    margin-bottom: 20px;
    float: right;
}

aside#sideBar {
    float: left;
    .scrollable .fixed-column {
        display: none;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    @media (max-width:$screen-phone) {
        background: $Lightest-grey;
        overflow: hidden;
        margin: 0;
    }
    @media (max-width:$screen-phone) {
        width: 100%;
    }
    #social {
        @media (max-width: $screen-phone) {
            padding-top: 10px;
        }
        height: 30px;
        div.firstbutton {
            float: left;
            padding-left: 20px;
            margin-right: 0;
            font-size: 14px;
            line-height: 14px;
            @media (max-width: $screen-phone) {
                padding-left: 0;
            }
            @media (max-width:1199px) {
                padding-left: 0;
            }
        }
        div.button {
            float: left;
            margin-right: 8px;
            font-size: 14px;
            line-height: 14px;
        }
        .email-share-button {
            height: 21px;
            padding: 1px 8px 1px 6px;
            background-color: $Lightest-grey;
            color: $Black;
            border-radius: 3px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            padding-top: 3px;
            &:before {
                content: "\f0e0";
                font-family: FontAwesome;
                font-size: 16px;
                margin-right: 5px;
                color: $Mid-grey;
                display: inline-block;
                text-decoration: none;
            }
            &:hover {
                color:$Red;
                text-decoration: underline;
            }
        }
    }
    p {
        font-size: 18px;
        font-family: proxima-nova, sans-serif;
    }
    ul {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
        li {
            padding-bottom: 5px;
            a {
                font-size: 18px;
                font-family: proxima-nova, sans-serif;
                &:hover {
                    color: $Red;
                }
            }
            a[target=_blank] {
                &:after {
                    content: "\f08e";
                    font-family: FontAwesome;
                    font-size: 18px;
                    margin-left: 10px;
                    display: inline-block;
                    text-decoration: none;
                }
            }
        }
    }
    h1 {
        color: $Red;
        font-size: 22px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3 {
        color: $Red;
        font-size: 22px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h4 {
        color: $Red;
        font-size: 22px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
    }
    #contacts {
        ul {
            margin: 0;
            padding: 0;
        }
        p.contactTitle {
            margin-bottom: 0;
        }
        p.contactOpening {
            margin: 10px 0;
            padding: 0;
        }
        @media (max-width:$screen-phone) {
            border-style: none !important;
            padding-left: 0;
        }
    }
}

.sidePanel {
    background-color: $Lightest-grey;
    border: 0 solid $Mid-grey;
    padding: 10px 20px 10px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}