.btn {
    height:38px;
    max-width:300px;
    border-bottom:3px solid $Dark-grey;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    padding:0 15px;
    font-size:18px;
    color:$White;
    margin:0;
    font-weight:600;
    text-align:center;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius:0px;
    line-height:29px;

}

.btn-default {
    background:$Red;

    &:focus, &:active, &:hover {
        background:darken($Red, 9%);
        border-bottom:none;
        color:$White;
    }
}

.btn-primary {
    background:$Primary-button;

    &:focus, &:active, &:hover {
        background:darken($Primary-button, 9%);
        border-bottom:none;
        color:$White;
    }
}

.btn-secondary {
    background:$Secondary-button;

    &:focus, &:active, &:hover {
        background:darken($Secondary-button, 9%);
        border-bottom:none;
        color:$White;
    }
}

.btn-cancel {
    background:$Mid-grey;

    &:focus, &:active, &:hover {
        background:darken($Mid-grey, 9%);
        border-bottom:none;
        color:$White;
    }
}

.btn-error {
    background:$Error;

    &:focus, &:active, &:hover {
        background:darken($Error, 9%);
        border-bottom:none;
        color:$White;
    }
}

.back-to-top {
    position:fixed;
    top:0;
    right:20px;
    background-colour: $Red;
    font-size:em(12px);
    padding:1em;
    border:0px;
    z-index: 100;    
    height:38px;

    &:focus, &:active, &:hover {
        background:$Focus-blue-light !important;
        padding-top:1em;
        text-decoration:underline;
    }
}

a.call-to-action {
    @extend .btn;
    color: #fff !important;
    text-decoration: none;
    padding-top: 3px;

    &:focus, &:active, &:hover {
        padding-top: 5px;
    }

    &:after {
        content: "\f061";
        font-family: FontAwesome;
        font-size: 18px;
        margin-left: 10px;    
    }
}

a.call-to-action-default {
    @extend .call-to-action;
    @extend .btn-default;
}

a.call-to-action-primary {
    @extend .call-to-action;
    @extend .btn-primary; 
}

a.call-to-action-secondary {
    @extend .call-to-action;
    @extend .btn-secondary; 
}

