section#cookiebar {
    background-color: $Dark-grey;
    width: 100%;
    overflow: hidden;
    padding: 9px 0 3px 0;
    p {
        color: $White;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-family: proxima-nova, sans-serif;
    }
    a {
        color: $White;
        text-decoration: underline;
        &:hover {
            color: $White;
        }
    }
    .btn-default {
        color: $White;
        background-color: $Red;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        border-bottom-style: none;
        border-radius: 0;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            color: $White;
            text-decoration: underline;
        }
    }
}