
h1,
h2,
h3,
h4,
h5 {
    font-family: proxima-nova, sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:$Charcoal;
    box-sizing: border-box;
}


h1 {
    display: block;
    font-size: em(36px);
    font-weight: bold;
    margin:0 0 10px 0;
}

h2 {
    display: block;
    font-size: em(19.999914169311523px);
    font-weight: bold;
    margin-bottom:0 0 10px 0;
    padding-top: 0px;
    text-decoration: none;
}

h3 {
    box-sizing: border-box;
    display: block;
    font-size: em(20px);
    font-weight: 600;
    margin:20px 0 10px;
}

h3.red {
    color: $Red;
    font-weight: 700;
}
 
h4 {
    font-size: em(18px);
}

h5 {
    font-size: em(18px);
}

h6 {
    font-size: em(12px);
}
