a {
    font-family: proxima-nova, sans-serif;
    color: $Charcoal;
    text-decoration: underline;
    &:hover {
        color: $Red;
    }
    &:visited {
        color: $Charcoal;
    }
    &:focus {
        background: $Focus-blue-light !important;
        color: $White !important;
    }
    &:active {
        background: $Focus-blue-light !important;
        color: $White !important;
    }
}