.nosvg {
    header {
        a {
            img {
                padding: 5px;
            }
        }
    }
    section.masthead {
        .input-group-btn {
            @media (max-width: $screen-tablet) {
                background-image: url("/_controltemplates/15/C5.GovJEResponsive/images/magglass.png");
                background-image: none\9;
                /* IE8 and below */
                // filter: progid: DXImageTransform.Microsoft.AlphaImageLoader( src='/_controltemplates/15/C5.GovJEResponsive/images/magglass.png', sizingMethod='scale');
                -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/_controltemplates/15/C5.GovJEResponsive/images/magglass.png', sizingMethod='scale')";
            }
        }
    }
    section.homepage-accordion {
        .panel-heading {
            h4 {
                padding-right: 10px;
                a {
                    background-image: url('/_controltemplates/15/C5.GovJEResponsive/images/plus.png');
                }
                a.collapsed {
                    background-image: url('/_controltemplates/15/C5.GovJEResponsive/images/plus.png');
                }
                a.opened {
                    background-image: url('/_controltemplates/15/C5.GovJEResponsive/images/minus.png');
                }
            }
        }
    }
    section#Search .input-group-btn {
        background-image: url("/_controltemplates/15/C5.GovJEResponsive/images/magglass.png");
        background-position: 5px center;
    }
}