section#noticeBar {
    background-color: $Charcoal;
    width: 100%;
    padding: 9px 0;
    color: white;
    margin-bottom: 0px;
    &.GovAnnouncement {
        background-color: #f9d648;
        p {
            color: #35475D;
        }
        p.publicNotice {
            color: #35475D;
        }
        a {
            &:visited, &:hover {
                color: #35475D;
            }
            color: #35475D;
        }
    }
    a {
        font-family: proxima-nova, sans-serif;
        text-decoration: underline;
        color: $White;
        &:hover {
            color: $Focus-blue-dark;
        }
        &:visited {
            color: $White;
        }
    }
    p {
        display: block;
        color: white;
        margin-top: 5px;
        margin-bottom: 7px;
        line-height: 20px;
        font-size: 18px;
        font-family: proxima-nova, sans-serif;
    }
    p.publicNotice {
        display: block;
        color: white;
        margin-top: 5px;
        margin-bottom: 7px;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        line-height: 20px;
        font-size: 20px;
        @media (min-width: $screen-phone) {
            margin-bottom: 0;
        }
    }
}