/* ==========================================================================
   rte styles.
   ========================================================================== */


/* Hide Rendition button
#Ribbon\.Image\.Image\.Renditions\.PickRendition-Large{display:none;}*/

h2.govstyleElement-H2 {
    -ms-name: "H2";
    color: $Charcoal;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
}

h3.govstyleElement-H3 {
    -ms-name: "H3";
    color: $Charcoal;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
}

h4.govstyleElement-H4 {
    -ms-name: "H4";
    color: $Charcoal;
    font-family: proxima-nova, sans-serif;
}

p.govstyleElement-P {
    -ms-name: "Paragraph";
    color: $Charcoal;
    font-family: proxima-nova, sans-serif;
}

.ms-rtestate-field {
    font-family: proxima-nova, sans-serif;
}

.txtFeedbackAdditional {
    display: none;
}

fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
}

table.govstyleTable-default {
    -ms-name: "GovJE Default";
    font-family: proxima-nova, sans-serif;
}

table.govstyleTable-alignRight {
    -ms-name: "GovJE Right Align";
    font-family: proxima-nova, sans-serif;
}

table.govstyleTable-borders {
    -ms-name: "Thin Borders with alternating stripes";
}


/* sets the name of the table style */

table.govstyleTable-borders td {
    padding: 5px;
    vertical-align: top;
}


/* sets padding and vertical align for all td cells in the table....you might have to do this for the th cells as well */


/* set the background color of alternating rows */

table.govstyleTable-borders tr.mystyle-TableEvenRow-alternating td {
    background: #ccc;
}

table.govstyleTable-borders tr.mystyle-TableOddRow-alternating td {
    background: #efefef;
}

article.pagecontent table tbody tr.govstyleTableHeaderRow-default th,
table.govstyleTable-alignRight th {
    background-color: $Red;
    color: $White;
}

article.pagecontent table.govstyleTable-default td.highlight,
table.govstyleTable-alignRight td.highlight {
    background: $Lightest-grey;
}

article.pagecontent .govstyleTableFirstCol-alignRight,
article.pagecontent .govstyleTableFooterRow-alignRight,
article.pagecontent .govstyleTableFooterFirstCol-alignRight {
    background: $Lightest-grey;
    color: $Charcoal;
}

article.pagecontent table.govstyleTable-alignRight td {
    text-align: right;
}