$Content-Background: #eef0f0;
$GovJeRed: #b60011;
$cookie-Background: #585958;
$noticebar-Background: #282828;
$text-color: #212121;
$footer-background: #e1e3e3;
$text-color: #1d1d1b;
$GovJEWhite: #ffffff;
$keyline: #7d7d7d;
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$red-hover: #E9EDFF;
$footer-hover: #F9FFFF;
$tab-hover: #2a6496;
$focusHighlight: #095aa2;
$GovJeGreen: #009A56;
$GovJeOrange: #FF7E11;
$GovJeBlue: #334582;