// Colours from the Design Guide
 
// Primary 

$Red: #b60011;
$Charcoal: #1d1d1b;
$Dark-grey: #585958;
$Mid-grey: #7D7D7D;
$Pale-grey: #E0E0E0;
$Lightest-grey: #EEF0F0;
$White: #FFFFFF;
$Black: #000000;
$Error: #EB0019;
$cookieBlue:#86B5FF;
// Secondary 

$Focus-blue-light: #095AA2;
$Focus-blue-dark: #67b0EA;
$Primary-button: #009429;
$Secondary-button: #0048AF;
// Charts, Graphs and Data Tables

// Grey

$Stats-grey-lightest: #D4D3D3;
$Stats-grey-lighter: #B9B9B6;
$Stats-grey-light: #91918E;
$Stats-grey-dark: #6B6A69;
$Stats-grey-darker: #474744;
$Stats-grey-darkest: #1C1C1B;

// Red

$Stats-red-lightest: #FF9A75;
$Stats-red-lighter: #FB5536;
$Stats-red-light: #B91806;
$Stats-red-dark: #8B0F00;
$Stats-red-darker: #5D0600;
$Stats-red-darkest: #420302;

// mixed

$Stats-mixed-red: #B91806;
$Stats-mixed-blue: #334582;
$Stats-mixed-pink: #FF39D4;
$Stats-mixed-orange: #FF7E11;
$Stats-mixed-Green: #009429;
$Stats-mixed-light-blue: #86B5FF;
$Stats-mixed-light-grey: #ACABA8;
$Tides-table-light-blue: #E5F5FE;
$Tides-table-mid-blue: #9abdcb;

// fostering and adption

$foster: #0087A4;
$fosterHighlight: #026074;

// department homepage
$department: #0049AF;

