$base-font-size: 16px;
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

html {
    font-size: $base-font-size;
}
    
body {
    font-family: proxima-nova, sans-serif; 
    -ms-overflow-style: scrollbar;
    font-size:$base-font-size;
}


/* =================
    typekit
   ================= */

.wf-loading { 
    visibility: hidden; 
}

.wf-active {
    visibility: visible;
}

